<IfModule mod_rewrite.c>
    RewriteEngine On
    Options -Indexes

    # Serve .php quando chamado sem extensão
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]

    # Serve .html quando chamado sem extensão
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^([^\.]+)$ $1.html [NC,L]

    # Permite links curtos
    RewriteRule ^n/([0-9]+)$ leitura.php?id=$1&tipo=noticia [L,QSA]
    RewriteRule ^p/([0-9]+)$ leitura.php?id=$1&tipo=pastoral [L,QSA]
    RewriteRule ^a/([0-9]+)$ leitura.php?id=$1&tipo=agenda [L,QSA]

    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

</IfModule>
