*{
  /* Faz com que o Padding não aumente o tamanho do elemento */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;

  /* DEBUG */
  /* outline: 1px solid red !important; */
}

:root {
  /* Cores do Tema Escuro (Padrão) */
  --bg-body: #1c1c1c;
  --text-color: #ffffff;
  --header-bg: #293e5c;
  --card-border: #ccc;
  --card-text: #fff;
}

.light-mode {
  --bg-body: #f4f4f4;
  --text-color: #1a1a1a; /* Cinza bem escuro para leitura */
  --header-bg: #0056b3; /* Um azul mais vivo para o tema claro */
  --card-border: #333;
  --card-text: #000;
}

body {
  background-color: var(--bg-body);
  color: var(--text-color);
}

main {
  display: block;
  height: auto;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: var(--header-bg);
  /* background: #ffcc00; */
  position: sticky;
  top: 0;

  /* Mantém o header fixo no topo mantendo ele na frente*/
  z-index: 1000;
  width: 100%;
}

header h1 {
  color:white
}

#btn-tema {
  background: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 20px;

  transition: transform 0.2s, color 0.2s;
  
}

#btn-tema hover {
  transform: scale(1.1);
  opacity: 0.8;
}

section {
  height: auto;
  padding: 10px 0;
  min-height: auto;
}

.content_title {
  font-family: 'Poppins';
  font-size: xx-large;
}

.branding {
  display: flex;
  align-items: center;
  gap: 15px;
}

.branding img {
  width: 60px;
}

h1 {
  color: var(--text-color);
  font-size: 25px;
  font-family: 'Poppins';
}

h1:hover {
  cursor: pointer;
}


main section {
  padding: 80px 60px;
  color: var(--text-color);
}

main h2:hover {
  cursor: pointer;
  font-size: 40px;
}

main a {
  text-decoration: none;
  color: var(--text-color);
}

main a:hover {
  cursor: pointer;
  font-size: 40px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Poppins';
}

.hero {
  height: 80vh;
  background-image: url("/img/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 60px;
  justify-content: space-between;
  padding: 50px 10%;
  gap: 2rem;
}

.hero-content {
  flex: 1;
  max-width: 600px;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero-subtitle {
  font-size: 1.3rem;
  opacity: 0.9;
}

ieccp-history img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto 40px auto;  
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 0;

    padding: 2rem 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  .hero-image {
    /* order: -1; */
    height: auto;
    display: block;
    margin-bottom: 1rem;
  }
}